[submodule "modules/audio-gearbox"]
	path = modules/audio-gearbox
	branch = master
	url = git@github.com:grief/audio-gearbox.git
[submodule "modules/gloydius"]
	path = modules/gloydius
	branch = master
	url = git@github.com:grief/gloydius.git
